doctype html

html

    head

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title SleekCSS Styleguide

        style
            #{css}

        style
            |!{ templateCss }

    body

        header
            h1 Styleguide
            p Examples of all CSS components and configuration.

        nav
            ul
                for elements, section in docs
                    li
                        a(href="##{section.replace(/[^a-z0-9]/ig,'').toLowerCase()}") #{section}

        main
            for elements, section in docs
                section(id=section.replace(/[^a-z0-9]/ig,'').toLowerCase())
                    header
                        h2 #{section}

                    for element, i in elements
                        article

                            header
                                h3 #{element.title}

                                if element.description
                                    p !{marked(element.description)}

                            if element.example
                                div.example-container
                                    h4 Example
                                    div.example

                            div.example-code-container
                                h4 Example Code
                                pre.example-code
                                    code
                                        if Array.isArray(element.example)
                                            | !{element.example.join(' ').trim()}
                                        else
                                            | !{element.example.trim()}

        script
            |!{ templateJs }
            //- script(src="https://code.jquery.com/jquery-1.12.2.js")
            //- script(src="all.js")
